<!-- <footer class="p-4 justify-between fixed bottom-0 right-0 block">
  <!-- <div class=" text-white">&copy; 2024 Copyright: <a href="#">beingbhavin.in</a>
  </div> 
  <div class=" text-white">
      Photo by <a href="https://unsplash.com/@osmanrana?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Osman Rana</a> on <a href="https://unsplash.com/photos/time-lapse-car-running-on-road-G7VN8NadjO0?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
  </div>
</footer> -->