<header class="h-screen flex items-center">
    <!--  bg-gray-400/10 -->
    <div class="container md:mx-auto block">
        <div class="md:text-left text-center text-white">
            <h1 class="md:text-8xl text-4xl font-medium pt-5 block">
                <a href="/src/index.html">
                    Bhavin Patel
                </a>
            </h1>
            <h2 class="md:text-3xl pt-3">I'm a automation enthusiastic <span class="border-b-4 border-red-400">Devops Engineer</span> from India</h2>
        </div>
            <div>
                <nav class="flex text-white space-x-4 md:justify-start justify-center items-center mt-2">
                    <a href="/src/index.html" class="px-2 py-2 md:text-2xl font-light hover:text-red-400 hover:underline rounded-md">Home</a>
                    <a href="/src/resume.html" class="px-2 py-2 md:text-2xl font-light hover:text-red-400 hover:underline rounded-md">Resume</a>            
                    <a href="/src/blogs.html" class="px-2 py-2 md:text-2xl font-light hover:text-red-400 hover:underline rounded-md">Blogs</a>
                    <a href="/src/about.html" class="px-2 py-2 md:text-2xl font-light hover:text-red-400 hover:underline rounded-md">About</a>
                </nav>
            </div>
            <div class="flex mt-15 space-x-4 px-3 mt-2 md:justify-start justify-center text-white">
                <a href="#" class="text-base hover:bg-gray-600/40 hover:rounded-lg p-2 hover:text-red-400"><i class="bi bi-linkedin"></i></a>
                <!-- <a href="#" class="text-base hover:bg-gray-600/40 hover:rounded-lg p-2 hover:text-red-400"><i class="bi bi-instagram"></i></a> -->
                <a href="#" class="text-base hover:bg-gray-600/40 hover:rounded-lg p-2 hover:text-red-400"><i class="bi bi-twitter-x"></i></a>
                <a href="#" class="text-base hover:bg-gray-600/40 hover:rounded-lg p-2 hover:text-red-400"><i class="bi bi-github"></i></a>
            </div>
    </div>
</header>